.about-us{
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30vh;
}

.aboutus{
    margin-top: 20px;
}

.about-us-heading {
    font-size: 3rem;
    margin-top: 40px;
}

.about-more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-more-box1{
    display: flex;
    flex-direction: column;
    flex: 2;
}

.about-font-box1{
    display: flex;
    flex-direction: column;
    flex: 2;
}

.about-bottom {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    margin-left: 45vw;
}

.about-font-paragh {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7vh;
    margin-left: 71vw;
    margin-top: 20vh;
    margin-right: 3.5vw;
    font-size: 18px;

}

.about-font {
    display: flex;
    justify-content: space-between;
}