* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

  }

  .darkmode-ele{
    background-color: #1c1c1c;
    color: white;
  }

  .darkbody{
    background-color: white;
    color: black;
  }

.mode2{
  display: none;
}

  .line {
    height: 1px;
    background-color: white;
    width: 100%;
    margin-top: 9px;
  }

.blackline{
  height: 1px;
  background-color: black;
  width: 100%;
  margin-top: 9px;
}